<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Recent Movies List</title>
  <link rel="stylesheet" href="/styles.css">
  <style>
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }

</style>
</head>
<body>
  <%- include('../partials/navbar') %>
  <main>
    <div class="container-3of4-center">
        <div class="movies-header">
          <h1>Recently Added Movies List</h1>
        </div>
        <table>
          <thead>
            <tr>
              <th>Poster</th>
              <th>Title</th>
              <th>Description</th>
              <th>Age Rating</th>
              <th>Team Pick</th>
              <th>Score</th>
              <th>Length</th>
            </tr>
          </thead>
          <tbody id="movies-body">
            <% movies.forEach( movie => {%>
              <tr class=<%= movie.is_team_pick ?"highlight":""%>>
                <td>
                  <% if (movie.poster_img) { %>
                      <img 
                        src="data:<%= movie.poster_img_type  %>;base64,<%= movie.poster_img %>" 
                        alt="Poster for <%= movie.title %>" 
                        style="width: 80px; height: auto; border-radius: 5px;" 
                      />
                    <% } else { %>
                      N/A
                    <% } %>
                </td>
                <td><a href= <%= "/movies/" + movie.movie_id%> > <%= movie.title%> </a></td>
                <td> <%= movie.description%></td>
                <td> <%= movie.age_rating%></td>
                <td> <%= movie.is_team_pick?"Yes":"No"%></td>
                <td> <%= movie.score%></td>
                <td> <%= movie.length%></td>
              </tr>
            <%})%>
          </tbody>
        </table>
    </div>
  </main>

  <%- include('../partials/footer') %>
</body>
</html>
