<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Movies List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      padding: 12px;
      border: 1px solid #ccc;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    .highlight {
      background-color: #e6ffe6 !important;
    }
    a.button-link {
      display: inline-block;
      padding: 10px 30px;
      font-size: 18px;
      cursor: pointer;
      border: none;
      margin-top: 5px;
      border-radius: 5px;
      background-color: #4CAF50;
      color: white;
      text-decoration: none;
      transition: background-color 0.3s ease;
    }
    a.button-link:hover {
      background-color: #45a049;
    }
  </style>
</head>
<body>
  <%- include('../partials/navbar') %>
  <div class="screenings-header">
    <h1>Screenings List</h1>
    <a class="button-link" href='/screenings/create'>Add Screening</a>
  </div>
  <table>
    <thead>
      <tr>
        <th>Screening ID</th>
        <th>Movie ID</th>
        <th>Cinema ID</th>
        <th>Room ID</th>
        <th>Start Date</th>
        <th>Start Time</th>
        <th>End Time</th>
      </tr>
    </thead>
    <tbody id="screenings-body">
      <% screenings.forEach( screening => {%>
        <tr>
            <td><a href= <%="screenings/"+screening.screening_id%>>  <%= screening.screening_id%>  </a></td>
            <td><%=screening.movie_id%></td>
            <td><%=screening.cinema_id%></td>
            <td><%=screening.room_id%></td>
            <td><%=new Date(screening.start_date).toLocaleDateString()%></td>
            <td><%=screening.start_time%></td>
            <td><%=screening.end_time%></td> 
        </tr>
      <%})%>
    </tbody>
  </table>


</body>
</html>
