<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Movies List</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      padding: 20px;
    }
    table {
      width: 100%;
      border-collapse: collapse;
      margin-top: 20px;
    }
    th, td {
      padding: 12px;
      border: 1px solid #ccc;
      text-align: left;
    }
    th {
      background-color: #f4f4f4;
    }
    .highlight {
      background-color: #e6ffe6 !important;
    }
  </style>
</head>
<body>
  <%- include('../partials/navbar') %>
  <h1>Users List</h1>
  <table>
    <thead>
      <tr>
        <th>user id</th>      
        <th>username</th>
        <th>email</th>
        <th>first name</th>
        <th>last name</th>
        <th>role_id%</th>
      </tr>
    </thead>
    <% const roles = { 1: "user", 2: "employee", 3: "admin" } %>
    <tbody id="users-body">
      <% users.forEach( user => {%>
        <tr>
          <td><a href= <%= "users/" + user.user_id%>> <%= user.user_id%> </a></td>
          <td> <%= user.user_name%></td>
          <td> <%= user.user_email%></td>
          <td> <%= user.first_name%></td>
          <td> <%= user.last_name%></td>
          <td> <%= roles[user.role_id]%></td>
        </tr>
      <%})%>
    </tbody>
  </table>


</body>
</html>
